@import "tailwindcss";

@theme {
  --color-navy: #0a0b68;
  --color-gold: #f4b400;
  --color-pale-blue-bg: #dce6ff;
  --color-pale-blue-text: #1e3a8a;
}

body {
  margin: 0;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    sans-serif;
}
